<div id="container">

<!-- 	sign in/up form section  -->
	<div id="login">
		<div id="login1">
			<h1>Sign In/Up Forms</h1>
			<form action="">
				<input type="text" value="Username">
				<input type="password"  value="Password">
				<input type="submit" value="Sign In"></p>
			</form>
		</div>	
		
		<div id="login2">
			<form action="">
				<input type="text" value="Username"> <br>
				<input type="password"  value="Password"> <br>
				<input type="submit" value="Sign In"></p>
		        <div id="checkbox">
			        <input type="checkbox" value="true" name="RememberMe"/>
					<label for="RememberMe" class="checkbox remember-me">Remember me</label>
					<input type="hidden" value="false" name="RememberMe"/>
	        	</div>
			</form>
		</div>
		<div id="login3">
			<form action="">
				<input type="text" value="Full Name">
				<input type="text" value="Last Name"><br>
				<input type="text" value="Email"><br>
				<input type="text" value="Username"><br>
				<input type="text"  value="Password"><br>
				<input type="submit" value="Sign Up"></p>
			</form>
		</div>	
	</div>



<!--  select section  -->
	<div id="select">
		<h1>Select Menu Options</h1>
		<span class="custom-dropdown custom-dropdown--color">
	    <select class="custom-dropdown__select custom-dropdown__select--color">
				<option value="null">Select</option>
		  		<option value="1">Select option 1</option>
		 		<option value="2">Select option 2</option>
		  		<option value="3">Select option 3</option>
		 		<option value="4">Select option 4</option>
		 		<option value="5">Select option 5</option>
		 		<option value="6">Select option 6</option>
		  		<option value="7">Select option 7</option>
		 		<option value="8">Select option 8</option>
			</select>
		</span>
		<span>
		<br>
		<br>
			<div class="date">
				<input type="date" name="day"/>
			</div>
		</span>
		<br>
	</div>
	
<!-- 	navigation section -->
	<div id="nav">
		<h1>Navigations Bars</h1>
		<nav class="inline">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Video</a></li>
				<li><a href="">Channels</a></li>
				<li><a href="">More</a></li>
				<li><a href="">About Us</a></li>
			</ul>
		</nav>
		<br>
		<nav>
			<ul class="navdrop">
				<li><a href="#">HOME</a>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
				</li>		
				<li><a href="#">VIDEOS</a>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
				</li>	
				<li><a href="#">CHANNELS</a>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
		 		</li>
		 		<li><a href="#">MORE</a>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
		 		</li>
		 		<li><a href="#">ABOUT US</a>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
				</li>		
			</ul>
		</nav>
		<br class="clear">
		<br>
		<br>
		<br><br>
		<nav class="navplain">
			<ul>
				<li><a href="">home</a></li>
				<li><a href="">video</a></li>
				<li><a href="">channels</a></li>
				<li><a href="">more</a></li>
				<li><a href="">about us</a></li>
			</ul>
		</nav>
	</div>

   <!-- button section 	 -->
    <div id="buttons">
		<h1>Buttons</h1>
			<div class="btn-buy">		
				<a href="" class="btn-buy">Buy</a>
			</div> 
			<br><br>
			<div class="btn-group">
			  <button type="button" class="btn btn-default"><</button>
			  <button type="button" class="btn btn-default">1</button>
			  <button type="button" class="btn btn-default">2</button>
			  <button type="button" class="btn btn-default">3</button>
			  <button type="button" class="btn btn-default">4</button>
			  <button type="button" class="btn btn-default">5</button>
			  <button type="button" class="btn btn-default">6</button>
			  <button type="button" class="btn btn-default">7</button>
			  <button type="button" class="btn btn-default">8</button>
			  <button type="button" class="btn btn-default">></button>
			</div>
			<br style="clear: both">
			<br>
			<div class="btn-large">
			   <button type="button" class="btn btn-default">Button</button>
			</div>
	</div>
<br>


<!-- 	font section  -->
	<div id="fonts">
		<h1>Fonts</h1>
		
		<p class="arial_32">Arial 32px</p>
		<p class="arial">Arial 20px</p>
		<p class="arial_16">Arial 16px</p>
		<p class="arial_bold">Arial bold</p>

		
		<p class="century_g_32">Century Gothic 32px</p>
		<p class="century_g">Century Gothic 20px</p>
		<p class="century_g_16">Century Gothic 16px</p>
		<p class="century_bold">Century Gothic bold</p>

		
		<p class="book_a_32">Book Antiqua 32px</p>
		<p class="book_a">Book Antiqua 20px</p>
		<p class="book_a_16">Book Antiqua 16px</p>
		<p class="book_bold">Book Antiqua bold</p>

		
		<p class="garmond_32">Garmond 32px</p>
		<p class="garmond">Garmond 20px</p>
		<p class="garmond_16">Garmond 16px</p>
		<p class="garmond_bold">Garmond bold</p>

		
		<p class="optima_32">Optima 32px</p>
		<p class="optima">Optima 20px</p>
		<p class="optima_16">Optima 16px</p>
		<p class="optima_bold">Optima bold</p>

		
		<p class="goudy_os_32">Goudy Old Style 32px</p>
		<p class="goudy_os">Goudy Old Style 20px</p>
		<p class="goudy_os_16">Goudy Old Style 16px</p>
		<p class="goudy_os_bold">Goudy Old Style bold</p>
	</div>

</div>




